.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










/* use % for layouts. 
validate html and css. 
optimize imgs & code at end & remove css commemts
google fonts is fast
C R A P
:focus
img alt
meta author & description
lazy loading for later imgs
iphone 5 / 320 px minimum - infinity
sr-only
lighthouse audit
Test sites with other people (designer blinders)
you can fluidly chg site width in dev tools
think of every part of the site as a fluid component, not tablet pc etc. 

@media only screen and (min-width: 600px) {

}

*/




/*body*/
body {
  background: rgb(15, 17, 70);
  background: linear-gradient(90deg, rgba(14, 15, 64, 0.614) 0%, rgba(72,99,247,0.6279645647321428) 50%, rgba(248,68,55,0.5523343126313025) 100%); 
}

/*typography*/

h1, h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 14, 15);
  text-shadow: 2px 2px powderblue;
}


p, li, a,
address,
figcaption {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
}

h1 {
  font-size: 2rem;
}

h2 {
  color: white;
  text-shadow: 1px 1px blue;
  padding-top: 1rem;
}


/*header*/

/*main content*/

.main-container {
  max-width: 1500px;
  padding: .5rem;
  margin: 0 auto;
}

section,
header h1,
header figcaption,
header address,
header p {
  padding: .5rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

form > * {
  display: block;
}

form button {
  padding: .6rem;
  background-color: rgb(185, 227, 240);
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
}

form button:hover,
form button:active{
  background-color: rgb(209, 239, 249);
  font-size: 1.25rem;
}

.css-chart {
  background-color: black;
}

.css-chart text {
  color: white;
  stroke: white;
  fill: white;
  font-size: 1rem;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}



.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .5;
}

.chart-container {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 1000px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


textarea {
  border-radius: 4px;
}


/*footer*/
